tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:nth-child(1) {
  width: 10%;
}

td:nth-child(2) {
  width: 60%;
  padding: 20px;
}

td:nth-child(3),
td:nth-child(4) {
  text-align: center;
  width: 15%;
}

table.missions-tab > td,
table.missions-tab > th {
  border: 1px dashed #ddd;
}

#tab {
  width: 95%;
  margin: 60px auto;
}

thead {
  text-align: left;
}

.join {
  padding: 5px 16px;
  background-color: transparent;
  border-color: rgb(48, 46, 46);
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.leave {
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  border: 2px solid red;
  background-color: #fff;
  color: red;
}

.non_member {
  background-color: rgb(123, 122, 122);
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
  border: transparent;
}

.active {
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
  border: transparent;
}

td.tour-now {
  width: 80%;
}

tbody.tour_body td {
  padding-left: 2rem;
  font-size: 1.5rem;
}



