.header {
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  padding: 4.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 20%;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.NavLinks {
  gap: 1.5rem;
}

.container {
  width: 80%;
  margin: 4rem auto;
}

.rocketList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 44px;
  margin-left: 5%;
  margin-right: 5%;
}

.rocketCard {
  display: flex;
  justify-content: flex-start;
  gap: 22px;
}

.status {
  background-color: blue;
}

.missions {
  margin: 50px;
  text-align: left;
}

.missions-table {
  border: 1px solid;
}

tr {
  width: 100%;
}

td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

table th {
  padding: 15px;
}
