.header {
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  padding: 5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 20%;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.NavLinks {
  gap: 1.5rem;
}

.container {
  width: 80%;
  margin: 4rem auto;
}

.rocketList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 44px;
  margin-left: 5%;
  margin-right: 5%;
}

.rocketCard {
  display: flex;
  justify-content: flex-start;
  gap: 22px;
}

.status {
  background-color: lightsalmon;
}

.missions {
  margin: 50px;
  text-align: left;
}

.missions-table {
  border: 1px solid;
}

tr {
  width: 100%;
}

td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

table th {
  padding: 15px;
}

.description {
  text-align: justify;
  padding: 10px;
  font-size: 15px;
}

.profile {
  width: 90%;
  display: flex;
  margin: auto;
  gap: 2em;
}

.rockets {
  flex: 1;
}

.activeRockets {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}

.activeRockets > ul {
  padding-right: 0;
  margin: 0;
}

.activeRockets > ul > li {
  list-style: none;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 10px 0 15px 10px;
}

.activeRockets > ul > li:last-child {
  border-bottom: none;
}
