.header {
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  padding: 5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 30%;
  padding-bottom: 1rem;
}

.logo {
  max-width: 15%;
}

.flex {
  display: flex;
  align-items: center;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
}

.NavLinks > li > a {
  text-decoration: underline;
  padding: 10px;
  color: #525252;
}

.active {
  padding-bottom: 0.35rem;
}

.container {
  width: 80%;
  margin: 4rem auto;
}

.rocketList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 5%;
}

.rocketCard {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  margin: auto;
  border-radius: 8px;
  gap: 22px;
}

.rocketContent {
  padding: 5%;
}

.rocketName {
  font-size: 30px;
  font-weight: bold;
}

.rocketDesc {
  font-size: 18px;
  text-align: justify;
}

.reserve {
  background-color: rgb(40, 68, 193);
  color: #fff;
  border: none;
  padding: 5px 16px;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 5px;
}

.cancel {
  border: solid 1px rgb(128, 128, 128);
  padding: 5px 16px;
  border-radius: 5px;
  color: rgb(128, 128, 128);
  cursor: pointer;
}

.cancel:hover {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .rocketCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rocket-img {
    width: 90%;
    border-radius: 20px;
  }
}

.status {
  background-color: rgb(72, 179, 221);
  border-radius: 3px;
  padding: 2px;
  margin-right: 5px;
}

.description {
  text-align: justify;
  padding: 10px;
  font-size: 15px;
}

h1 {
  margin-bottom: 1rem;
}

.activeRockets :nth-child(even) {
  background-color: #f2f2f2;
}

.activeRockets > ul > li {
  list-style: none;
  font-size: 21px;
  padding: 3px;
  padding-left: 35px;
}

.rockets td {
  width: 74.3%;
  padding-left: 2rem;
  font-size: 1.5rem;
}

.reserveRocketsLink {
  font-size: 1.5rem;
}
